<nav class="site-nav">
    <div class="site-nav-center">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
</nav>
